<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wlj.gesturelock">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".GestureMainActivity" />
        <activity android:name=".GestureEditActivity" />
        <activity android:name=".GestureVerifyActivity" />

    </application>

</manifest>
